<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class = "container">
        <div class="card card-img">
          <img class="img-fluid" src="assets/{{imageFront.image}}" alt="Card image cap">
        </div>
        <div class="container">
          <div class="row">
            <div *ngFor="let img of images" class="col-4">
              <img class="img-fluid" src="assets/{{img.image}}" alt="Card image cap">
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            <span>
              {{product.product}}
            </span>
          </h2>
          <p>
            {{category.category}}
          </p>
        </div>
        <div class="container d-flex">
          <h3 class = "mx-3">
            ${{product.price}}
          </h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>
                Unidades disponibles :{{product.stock}}
              </p>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-body">
            <p>
              {{product.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            Entrega: <span>2 a 3 días hábiles a todo México</span>
          </h4>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <select [(ngModel)]="selectedOption">
                  <option *ngFor="let o of options">
                    {{o.name}}
                  </option>
              </select>
              <button class="btn btn-success"(click)="addMultipleToCart(selectedOption)">Agregar Al carrito</button>               
              <p>Selected option: {{ selectedOption }}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>

