<div class="container-fluid">
    <div class="row">
        <div *ngIf = "cartCount() == 0"class="col-12" data-aos="zoom-in">
            <h4 class = "text-center">Tu carrito está vacio</h4>
        </div>

        <div *ngFor="let product of getCart()" class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-4">{{product.product}}</div>
                    <div class="col-4">${{product.price}}</div>
                    <div class="col-4"> 
                    </div>
                </div>
            </div>            
        </div>
        <div class="d-flex justify-content-end" data-aos="zoom-in">
            <h5>Subtotal: $ {{getTotalPrice()}}</h5>            
        </div>
        <div class="d-flex justify-content-end">
            <h4>Total: $ {{getTaxes()}}</h4>
        </div>
    </div>
</div>
<div *ngIf = "cartCount() > 0"class="col-12" data-aos="zoom-in">
  <button (click)="createInvoice()" style="float: right" type="button" class="btn btn-success btn-sm">
    Realizar Compra
    <i class="fa fa-shopping-cart"></i>
</button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="invoice_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Realizar Compra</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
          <form action="">
            <div class="container">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <img class="img-cart" src="../../../../../../assets/corona.png" alt="">
                </div>
              </div>
            </div>
            <div class="form-group container field-form">
              <div class="row ">
                <div class="col-5 label-2">
                  <label for="rate">RFC <span class="text-danger">*</span></label> 
                </div>
                <div class="col-7">
                  <input type="text" id="rfc" name="name" class="w-100" required> 
                </div>
              </div>                       
            </div>            
            <div class="form-group container field-form">
              <div class="row ">
                <div class="col-5 label-2">
                  <label for="rate">Dirección <span class="text-danger">*</span></label> 
                </div>
                <div class="col-7">
                  <input type="text" id="direccion" name="direccion"  class="w-100" required>
                </div>
              </div>                           
            </div>
            <div class="form-group container field-form">
              <div class="row ">
                <div class="col-5 label-2">
                  <label for="rate">Número de tarjeta <span class="text-danger">*</span></label> 
                </div>
                <div class="col-7">
                  <input type="text" id="tarjeta" name="tarjeta" class="w-100" required>
                </div>
              </div>                            
            </div>
            <div class="form-group container field-form">
              <div class="row">
                <div class="col-5 label-2">
                  <label for="rate">Nombre de la tarjeta <span class="text-danger">*</span></label> 
                </div>
                <div class="col-7">
                  <input type="text" id="nameCard" name="nameCard" class="w-100" required>
                </div>
              </div>                           
            </div>
            <div class="form-group container field-form">
              <div class="row">
                <div class="col-5 label-2"><label for="rate">Fecha de Expiración <span class="text-danger">*</span></label> </div>
                <div class="col-7"> <input type="text" id="fecha" name="nameCard" class="w-100" required></div>
              </div>
            </div>
            <div class="form-group container field-form">
              <div class="row">
                <div class="col-5 label-2"><label for="rate">CVV<span class="text-danger">*</span></label> </div>
                <div class="col-7"> <input type="text" id="cvv" name="nameCard" class="w-100" required></div>
              </div>
            </div>                                          
          </form> 
          <div class="d-flex justify-content-center mt-5">
            <input (click)="createInvoicePost()" type="submit" class="btn btn-success" data-dismiss="modal" aria-label="Close">             
          </div>         
        </div>

        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </div>
  </div>